// main.scss
@tailwind base;
@tailwind components;
@tailwind utilities;

@import './variables';
@import './mixins';
@import './placeholders';
@import './base';
@import './layout';
@import './components';
@import './utilities';
