/* Brand colors */
/* pseudo class selector */
:root {
  /* CSS Custom Properties */
  --primary-color: #0d1b2a;
  --secondary-color: #1b263b;
  --accent-color: #e0e1dd;
  --font-main: "Arial", sans-serif;
  --political-accent-color: #ff7047;
  --celebrities-accent-color: #ff47d1;
  --catastrophes-accent-color: #ff4747;
  --geological-accent-color: #ffc447;
  --general-accent-color: #aa78ff;
  --discoveries-accent-color: #47a3ff;
}

body {
  font-family: var(--font-main);
  color: var(--accent-color);
  background-color: var(--primary-color);
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--accent-color);
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
}
